* {
  margin: 0;
}

header {
  float: left;
  background-color: blue;
  height: 100vh;
  width: 12%;
  position: fixed;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: white;
  padding-top: 30%;
  padding-bottom: 30%;
  margin: 0 auto;
}

#home, #about {
  height: 100vh;
  margin-left: 14%;
}

.gsn-logo {
  margin-top: 2%;
}

.logo-text {
  float: right;
  margin-top: 6%;
  margin-right: 5%;
  font-weight: lighter;
  font-size: 30px;
}

hr {
  border-width: thick;
  margin-right: 2%;
}
