* {
  margin: 0;
}

header {
  float: left;
  background-color: blue;
  height: 100vh;
  width: 12%;
  position: fixed;
}

header > div {
  position: relative;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: white;
  padding-top: 30%;
  padding-bottom: 30%;
  margin: 0 auto;
}

#home, #about {
  height: 100vh;
  margin-left: 13%;
}
